@use '../abstracts' as *;

.article {
    &__img {
        height: 300px;
        background-position: center;
        background-size: cover;
    }

    &__content {
        padding: $pad-sm;
        text-align: center;

        & > * {
            margin: 0 0 2rem;
        }
    }

    &__title {
        font-size: 2rem;
    }

    &__learn {
        text-decoration: none;
        font-family: $ft-fraunces;
        font-weight: 700;
        text-transform: uppercase;
        color: $clr-gray-blue-900;

        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -0.25rem;
            left: -5%;
            width: 110%;
            height: 0.5rem;
            z-index: -1;
            border-radius: 9999px;
            opacity: 0.3;
        }

        &:hover::after {
            opacity: 1;
        }
    }
}

.article--transform {
    & .article__img {
        background-image: url("../images/mobile/image-transform.jpg");
    }

    & .article__learn::after {
        background-color: $clr-yellow;
    }
}

.article--stand-out {
    & .article__img {
        background-image: url("../images/mobile/image-stand-out.jpg");
    }

    & .article__learn::after {
        background-color: $clr-soft-red;
    }
}

@media screen and (min-width: $bp-lg) {
    .article {
        display: flex;

        &__img {
            height: 600px;
            width: 50%;
        }

        &__content {
            margin: auto;
            max-width: 30rem;
            text-align: left;
        }

        &__title {
            font-size: 3rem;
        }
    }

    .article:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .article--transform {
        & .article__img {
            background-image: url("../images/desktop/image-transform.jpg");
        }

        & .article__learn::after {
            background-color: $clr-yellow;
        }
    }

    .article--stand-out {
        & .article__img {
            background-image: url("../images/desktop/image-stand-out.jpg");
        }

        & .article__learn::after {
            background-color: $clr-soft-red;
        }
    }
}
