@use "../abstracts" as *;

@keyframes pop-in {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background-color: $clr-header-bg;

    &__top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6rem;
        position: relative;
    }

    &__logo {
        font-size: 1.4rem;
        font-weight: 900;
        color: $clr-white;
        text-decoration: none;
    }

    &__nav {
        display: none;
        position: absolute;
        top: 8rem;
        left: 1rem;
        right: 1rem;
        background-color: $clr-white;
        text-align: center;
        padding: 1rem;

        &::after {
            position: absolute;
            right: 0;
            top: -30px;
            content: "";
            border: 30px solid transparent;
            border-right-color: $clr-white;
        }

        &.active {
            display: block;
            animation: 0.1s ease 0s forwards pop-in;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        margin: 2rem;
    }

    &__link {
        color: $clr-gray-blue-900;
        text-decoration: none;

        &--btn {
            background-color: $clr-yellow;
            color: $clr-gray-blue-900;
            font-family: $ft-fraunces;
            text-transform: uppercase;
            padding: 1rem 1.5rem;
            border-radius: 999px;
        }
    }
}

@media screen and (min-width: $bp-lg) {
    .header {
        &__menu-burger {
            display: none;
        }

        &__nav {
            display: block;
            position: static;
            background-color: transparent;

            &::after {
                display: none;
            }
        }

        &__list {
            display: flex;
            justify-content: flex-end;
        }

        &__item {
            margin: 0 0 0 2rem;
        }

        &__link {
            color: $clr-white;

            &--btn {
                background-color: $clr-white;
                color: $clr-gray-blue-900;

                &:hover {
                    background-color: rgba($clr-white, 0.3);
                    color: $clr-white;
                }
            }
        }
    }
}
