$clr-soft-red: hsl(7, 99%, 70%);
$clr-yellow: hsl(51, 100%, 49%);
$clr-dark-blue: hsl(198, 62%, 26%);
$clr-dark-cyan-900: hsl(167, 40%, 24%);
$clr-dark-cyan-700: hsl(168, 34%, 41%);

$clr-gray-blue-900: hsl(212, 27%, 19%);
$clr-gray-blue-700: hsl(213, 9%, 39%);
$clr-gray-blue-500: hsl(232, 10%, 55%);
$clr-gray-blue-300: hsl(210, 4%, 67%);
$clr-white: hsl(0, 0%, 100%);
